body {
    font-family: sans-serif;
}

.Profile {
    display: flex;
    font-size : medium;
}



.button {
    width: 20%;
    height: 100px;
    display: inline-block;
    margin: 30px -4px -4px -30px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.button:hover{
    color:orange;
}

.flex {
    display : flex;
    color : wheat;
}
.gif {
    text-align: right;
    width : 250px;
    height : auto;
    display : inline-block;
}
.contentblock{
    color : yellow;
    text-align: center;
    display : inline-block;
    margin-left : 550px;
    margin-top : 30px;
  }
.contentblock2 {
    color : orange;
    text-align: left;
    display : block;
    margin-top : 30px;
    
    
}

.inline-gif {
    text-align: right;
    padding-left : 600px;
}

.image{
  width: 275px;
  height: 175px;
  margin-left : 30px;
  text-align: auto;
}

.image2 {
    width : 275px;
    height : 175px;
    padding-left : 115%;
    text-align : center;
}

